
.slogan {
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: 0;
  color: #9932cc;

}

.logoName {
  font-family: 'Vintage Goods';
  font-size:  4rem;
  margin-bottom: 0;
  color: white;
}

header {
  background-color: #1d1c1c;
}

.logo {
  display: flex;
  flex-direction: column;
}

.header-div {
width: 100%;
}