.song-container {
border: 1px solid lightgrey;
display: flex; justify-content: space-between;
padding: 1rem;
}
.dot-menu {

        width: 100px;
        height: 100px;
        background-image: radial-gradient(circle, black 10px, transparent 11px);
        background-size: 100% 33.33%;
    
}