.CrtSetBtn {
    width: 10rem;
    border: none;
    padding: 1rem;
    background-color: purple;
    color: white;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    display: table;
}

.setForm {
    display: flex;
    justify-content: center;
}

.setHeader {
    font-family: kalam;
}